.eventsDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    p {
      font-size: smaller;
    }
    .eventsFilters {
      display: flex;
      flex-direction: row;
      .filtersButtons {
        display: flex;
        flex-direction: row;
        gap: 0.75em;
        > * {
          width: auto;
        }
      }
      .createNewButton {
        margin-left: auto;
      }
    }
    .eventsList {
      li {    
        margin: 0.5em auto; 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 3em;
        align-items: flex-start;                
        &:hover {
          background-color: $light;
        }
        .eventDescription {
         margin-top: 1em;
         width: 30em;
         span {
          p {
            font-size: 1em;
            margin: 0;
          }
         }
        }
        #eventThumbnail {           
          position: relative;  
          width: 15em;     
          #thumbnailBadge {
            position: absolute;
            top: 1em;
            left: .5em;
          }
        }
        #eventData {
          margin-top:1em;
          margin-left: auto;
          width: 20em;
        }
      }
    }
  }

  #joinedItem {     
      display: flex;
      flex-direction: column;
  
      span {
        display: flex;
      flex-direction: row;
      gap: 2em;
      align-items: center;
        #joinedThumbnail {           
          width: 15em;
        } 
        .joinedDescription {
        flex-direction: column;           
            
        #joinedData { 
        width: 20em;
        }
      }
    }
  }