

$primary: #a5b2ab;
$secondary: #c98f61;
$success: #a5b2ab8f;
$info: #c99061b3;
$warning: #3d5d52;
$danger: #352e28;
$light: #e1cbbc;
$dark: #352e28;

@import "./mediaQueries";
@import "./userProfile";
@import "./createEventForm";
@import "./signUpCards";
@import "./eventsLists";
@import "./homePage";
@import "./categoriesSubPage";
@import "./singleEvent";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Ubuntu", sans-serif;
  color: $dark;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .layoutContainer {
    margin: 8em auto !important;
    .spinner {
      margin: 25vh auto;
      display: flex;
      gap: 1em;
      flex-direction: row;
      justify-content: center;
    }
    #construction {
      margin: 20vh auto !important;
    }
    // // homepage styling -->>
    
    // // <<-- homepage styling
    .subpageHeader {
      margin-bottom: 4em;
      p {
        font-size: smaller;
        margin-top: 0.5em;
        margin-bottom: 0;
        a {
          color: inherit;
        }
      }
    }   
  }
  // // Navbar classes -->>
  .activeClass,
  .activeClass:hover {
    background-color: $secondary;
    color: $dark;
    font-weight: bold;
    opacity: 1;
    border-radius: 5px;
    text-decoration: none;
  }
  .nonActive {
    text-decoration: none;
    color: $dark;
    opacity: 0.6;
    font-weight: bold;
    &:hover {
      background-color: $secondary;
      color: $dark;
      opacity: 1;
      border-radius: 5px;
    }
  }
  // // <<-- Navbar classes 
}


