.mainContainer {
  margin: 6em auto !important;
}

#heroSection,
#construction {
  margin: 40vh auto !important;
}

.hpSection {
  margin: 8em auto;
}

.activeClass,
.activeClass:hover {
  background-color: rgba(128, 128, 128, 0.181);
  color: black;
  opacity: 1;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.nonActive {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.nonActive:hover {
  background-color: rgba(128, 128, 128, 0.181);
  color: black;
  opacity: 1;
  border-radius: 5px;
  font-weight: bold;
}

.card-events-list {
  list-style: none;
  padding: 0;
}

.showMoreP:hover {
cursor: pointer;
color: rgba(128, 128, 128, 0.434);
}

.signupCard {
   width: 45vw;
   margin: auto;
}

@media (max-width: 700px) {
  .signupCard {
    width: 95vw;
    margin: auto;
 }
}