.mainContainer {
  margin: 6em auto !important;
}

#heroSection,
#construction {
  margin: 40vh auto !important;
}

.hpSection {
  margin: 8em auto;
}

.activeClass,
.activeClass:hover {
  color: rgb(3, 102, 36);
  text-decoration: underline;
}

.nonActive {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.nonActive:hover {
  background-color: rgb(164, 219, 164);
  color: black;
  opacity: 1;
  border-radius: 5px;
}

.card-events-list {
  list-style: none;
  padding: 0;
}

.showMoreP:hover {
cursor: pointer;
color: rgba(128, 128, 128, 0.434);
}